{% load static %}
<!DOCTYPE html>
<html>
<body> 
  
<div class="mycard">
  <p><h2>ARTEMIS I</h2></p> 
  <ul>
  <img src="{% static 'Artemis I.jpg' %}" alt="Artemis I">
  </ul>
</div>

<div class="mycard">
  <p><h2>LUCY MISSION PATCH</h2></p> 
  <ul>
  <img src="{% static 'Lucy Mission Patch.jpg' %}" alt="Lucy Mission Patch"> 
  </ul>
</div>

<div class="mycard">
  <p><h2>MARS PERSEVERANCE ROVER</h2></p>
  <ul>
  <img src="{% static 'Mars Perseverance Rover.jpg' %}" alt="Mars Perseverance Rover">
  </ul>
</div>

<div class="mycard">
  <p><h2>JAMES WEBB SPACE TELESCOPE</h2></p>
  <img src="{% static 'James Webb Telescope.jpg' %}" alt="Telescope">  
</ul>
</div>  
</body>
</html>

