{% extends "master.html" %}

{% block title %}
Welcome to Chris's Blog!
{% endblock %}

{% block content %}

<div class="main">
  <h1>Welcome to Chris's Blog! <span style='font-size:40px;'>&#128240;</span></h1> 

  <h3>My name is Chris, I'm a space enthusiast and one of my favorite subjects is space missions.</h3>
  <h3>I believe space missions brings together studies and research in multiple areas of knowledge,<br>
  thus contributing to scientific development, which can favor the development of science in general.</h3>
  <h3>Furthermore, space exploration has allowed man to discover new frontiers,<br>
  face great phenomena and develop cutting-edge technology.</h3>
  <h3>In the NASA's MISSIONS, the first four missions took place recently. The Artemis II mission<br>
  is scheduled to take place in 2024.</h3>
  <h3>The first image in image collection you can see Artemis I Map. During this flight, the uncrewed<br>
  Orion spacecraft launched on the Space Launch System rocket and traveled thousands of miles beyond<br>
  the Moon, over the course of about a three-week mission.</h3>
  <h3>The second image in image collection shows a patch of the mission. Lucy will explore the Jupiter<br>
  Trojan asteroids. During its 12-year mission, the spacecraft will explore a record-breaking number of <br>
  asteroids, flying by one main belt asteroid and seven Trojan asteroids.</h3>
  <h3>Mars Perseverance Rover is the third image in the image collection. It is looking for signs of past<br>
  microbial life, caching rock and soil samples, and preparing for future human exploration.  
  <p style="font-size:80px">&#128640; <span style='font-size:80px;'>&#127765;</span></p> 
  
</div>

<div class="footer">
  <p>Final project Back-End Python e Django Bootcamp Course - Christina F. Corrêa.</p>
</div>
{% endblock %}