{% extends "master.html" %}

{% block title %}
Welcome to Chris's Blog!
{% endblock %}

{% block content %}

<div class="mycard">
  <h2>Welcome to Chris's Blog! <span style='font-size:30px;'>&#128240;</span></h2> 
  <ul>
    <br>
    <h3>My name is Chris, I'm a space enthusiast and one of my favorite subjects is space missions.</h3>
    <h3>I chose to write about NASA's most recent missions. Those that happened in the last five years and about a future mission.</h3> 
  </ul>
</div>  

<div class="mycard">
    <p><h2>About Space Missions</h2></p> 
    <ul>
      <p style="font-size:60px">&#128640; <span style='font-size:60px;'>&#127765;</span></p>
  <h3>I believe space missions brings together studies and research in multiple areas of knowledge,<br>
  thus contributing to scientific development, which can favor the development of science in general.</h3>  
  <h3>Furthermore, space exploration has allowed man to discover new frontiers,<br>
  face great phenomena and develop cutting-edge technology.</h3>  
  </ul>  
</div>

<div class="mycard float-right">
          <p><h3>The images and information written in this blog were researched on the NASA website.</h3></p>
          <a href="https://www.nasa.gov/nasa-missions/"
             class="btn btn-danger">Know more about NASA'S missions!</a>
      </div>
  </div>
  </div>

<div class="footer">
  <p>Final project Back-End Python e Django Bootcamp Course - WoMakersCode- Christina F. Corrêa.</p>
</div>
{% endblock %}