{% extends "master.html" %}

{% block title %}
Welcome to Chris's Blog!
{% endblock %}

{% block content %}
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

<div class="card">
  <h3 class="card-header">Welcome to Chris's Blog! <span style='font-size:30px;'>&#128240;</span></h3>
  <div class="card-body"><ul>
    <br>
    <p class="card-text">My name is Chris, I'm a space enthusiast and one of my favorite subjects is space missions.</p>
    <p class="card-text">I chose to write about NASA's most recent missions, those that took place in the last five years and about a future mission.</p> 
    </ul></div>
  </div>
</div>

<br>

<div class="card">
  <h3 class="card-header">Space Missions &#128640 &#127765</h3>
  <div class="card-body"><ul>  
    <br>
  <p class="card-text">I believe space missions brings together studies and research in multiple areas of knowledge,
  thus contributing to scientific development, which can favor the development of science in general.  
  Furthermore, space exploration has allowed man to discover new frontiers, face great phenomena and develop cutting-edge technology.</p>  
  </ul>
  </div>
</div>

<br>

<div class="col-md-4 float-right">
<div class="card">
  <h5 class="card-header">About</h5>
  <div class="card-body">
    <p class="card-text"> Some of the content and images were taken from the NASA website.👨‍🚀👩‍🚀</p>
      <a href="https://www.nasa.gov/nasa-missions/"
        class="btn btn-primary">To know more about NASA's space missions</a>
  </div>
</div>
</div>
<br>
<br>
<div class="m-0 text-dark text-left">
<div class="footer float-left">
  <p><span style='font-size:20px;'>&#128187 Final project Back-End Python and Django Bootcamp Course &#128187</span> - <span style='font-size:20px;'>&#129419 WoMakersCode &#129419;</span> - <span style='font-size:20px;'>&#129504 Christina F. Corrêa &#129505</p></span>
</div>
</div>
{% endblock %}